<%- include('include/header'); %>
<%- include('include/sidebar',{currentMenu:'dashboard'}); %>
<div class="content-wrapper">
	<section class="content-header">
		<div class="row">
			<div class="col-md-3"><h3>Dashboard</h3></div>
			<div class="col-md-9 text-right"></div>
		</div>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
			<a href="#" style="text-decoration: none;color: #333;">
				<div class="info-box">
					<span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Trafic</span>

						<span class="info-box-number">8</span>
					</div>
				</div>
				</a>
			</div>
		
			<div class="col-md-3 col-sm-6 col-xs-12">
			<a href="#" style="text-decoration: none;color: #333;">
				<div class="info-box">
					<span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">New Members</span>
						<span class="info-box-number">2</span>
					</div>
				</div>
				</a>
			</div>
	
			<div class="col-md-3 col-sm-6 col-xs-12">
			<a href="#" style="text-decoration: none;color: #333;">
				<div class="info-box">
					<span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Customers</span>
						<span class="info-box-number">2</span>
					</div>
				</div>
				</a>
			</div>
	
			<div class="col-md-3 col-sm-6 col-xs-12">
			<a href="#" style="text-decoration: none;color: #333;">
				<div class="info-box">
					<span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Users</span>
						<span class="info-box-number">8</span>
					</div>
				</div>
				</a>
			</div>
		</div>
	</section>
</div>
<%- include('include/footer'); %>