
<aside class="main-sidebar" style="background-color: #343A40">
	<section class="sidebar" style="overflow: scroll !important;">
		<ul class="sidebar-menu">
			 <li class="<%= currentMenu === 'dashboard' ? 'active' : '' %>"><a href="/dashboard"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
			
			<li class="<%= currentMenu === 'pdf' ? 'active' : '' %>"><a href="/pdf-list"><i class="fa fa-question-circle"></i> <span>PDF</span></a></li>

			<li class="<%= currentMenu === 'csv' ? 'active' : '' %>"><a href="/csv-excel-list"><i class="fa fa-question-circle"></i> <span>EXCEL/CSV</span></a></li>

		</ul>
	</section>
</aside>
